.hero {
  .hero-wrapper {
    display: grid;
    align-items: center;
    gap: 2rem;
    text-align: left;
    grid-template-columns: 1fr;

    .hero-image {
      position: relative;
      width: 420px;
      height: 420px;
      margin: auto;

      img {
        width: 420px;
        height: 420px;
        border-radius: 50%;
        border: 4px solid $blue;
        box-shadow: 0 0 10px $blue;
        animation: heartbeat 4s ease-in-out infinite;
        object-fit: cover;

        &:hover {
          animation-play-state: paused;
        }
      }
    }

    .hero-text {
      h1 {
        font-size: 2rem;
        margin: 0;
      }

      .highlight {
        color: $blue;
      }

      p {
        font-size: 1.2rem;
        margin: 10px 0;
      }

      .info {
        list-style: none;
        padding: 0;

        li {
          font-size: 0.9rem;
          margin: 5px 0;

          &.location {
            position: relative;

            #mexico-logo {
              width: 12px;
              height: 12px;
            }
          }
        }
      }

      .contact-me {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    .hero-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@keyframes heartbeat {

  0%,
  100% {
    transform: scale(.8);
    opacity: 0.7;
  }

  50% {
    transform: scale(1);
    opacity: 0.9;
  }
}