---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import ContactForm from "@/components/ContactForm.astro";
import { SITE } from "@/config";
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    <ContactForm />
  </main>
  <Footer />
</Layout>
