---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    <h1>Thank you</h1>
  </main>
  <Footer />
</Layout>
