{% set site_name = "Contacto" %}
{% set lang = "es" %}
{% set urls = [
{ 'name': 'Proyectos', 'url': '/es/proyectos', 'alternate_url': '/projects' },
{ 'name': 'Contacto', 'url': '/es/contacto', 'alternate_url': '/contact' }
] %}
{% extends "../../templates/Layout.twig" %}

{% block content %}
<h2>Contacto</h2>
{% endblock %}