<form action="https://formsubmit.co/irvingfrias41@gmail.com" method="POST">
    <input type="text" name="name" required>
    <input type="email" name="email" required>
    <input type="hidden" name="_next" value="https://irving-frias.github.io/thank-you">
    <button type="submit">Send</button>
</form> 