---
// Define the Props interface to match the data structure
interface Props {
  title: string;
  description: string;
  img: string;
  img_alt?: string;
  publishDate: Date;
}

// Extract lang and slug from route params
const { lang } = Astro.params;
const { title, description, img, img_alt, publishDate } = Astro.props;
---


  <section class="hero-post">
    <h1>{title}</h1>
    <p>{description}</p>
    <img src={img} alt={img_alt || title} />
    <time>
      {publishDate.toLocaleDateString(lang)}
    </time>
  </section>
