---
import Layout from "../../layouts/Layout.astro";
const lang = Astro.params.lang;

// Import translations based on the current language
const translations = await import(`../../locales/${lang}.json`);

export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}
---

<Layout
  title={translations.about.title}
  description={translations.about.description}
>
  <div></div>
</Layout>
