{% include '../../components/global/01-start.inc' with {
  "page_title": "About",
  "slug": "/about",
  "slug_en": "/about",
  "slug_es": "/es/acerca-de",
  "og_image": "/assets/pages/en/about.png",
  "og_image_light": "/assets/pages/en/about-light.png",
  "og_image_dark": "/assets/pages/en/about-dark.png"
} %}

{% include '../../components/custom/hero-about.inc' with {
  "title": "Irving Frias",
  "description": "A passionate software developer, interested in computer engineering.",
  "image": "https://media.licdn.com/dms/image/D5603AQFyuWUk_X6gXA/profile-displayphoto-shrink_800_800/0/1679377032576?e=1717027200&v=beta&t=kHrYkGyxIQBYwN6qPI5s45KEytNBypRdrsCdO-_UKhA"
} %}

{% include '../../components/global/99-end.inc' %}