{% set site_name = "Projects" %}
{% set lang = "en" %}
{% set urls = [
{ 'name': 'Projects', 'url': '/projects', 'alternate_url': '/es/proyectos' },
{ 'name': 'Contact', 'url': '/contact', 'alternate_url': '/es/contacto' }
] %}
{% extends "../templates/Layout.twig" %}

{% block content %}
<h2 class="container">Projects</h2>
{% endblock %}