<dialog id="contact-me">
  <div class="contact-header">
    <form method="dialog">
      <button class="close-btn">{{ close_text }}</button>
    </form>
  </div>
  <div class="contact-body">
    <div class="info">
      <h2>{{ heading }}</h2>
    </div>

    <ul class="social-icons d-flex justify-center">
      <li><a class="mail" href="mailto:irvingfrias41@gmail.com" title="Mail"></a></li>
      <li><a class="linkedin" href="https://www.linkedin.com/in/irving-frias/" title="LinkedIn"></a></li>
      <li><a class="phone" href="tel:+523112299085" title="Phone"></a></li>
    </ul>
  </div>
</dialog>