<header>
  <nav>
    <div class="container d-flex justify-between align-center">
      <a href="/" class="navbar">Irving Frias</a>

      <div class="header-menu">
        <ul class="d-flex flex-col flex-lg-row list-style-none container h-100">
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="toggler d-lg-none">
        <input type="checkbox" name="toggler-menu" id="toggler-menu">
      </div>
    </div>
  </nav>
</header>