<header>
  <nav>
    <div class="container d-flex justify-between align-center">
      <a href="/" class="navbar">Irving Frias</a>

      <ul class="header-menu d-flex flex-col flex-lg-row list-style-none container">
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <div class="toggler d-lg-none">
        <input type="checkbox" name="toggler-menu" id="toggler-menu">
      </div>
    </div>
  </nav>
</header>