<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="UTF-8">
  <title>Irving Frias - Full Stack Web Developer | {{ site_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"
    content="Full Stack Web Developer skilled in Drupal, WordPress, and JavaScript. Building scalable and user-friendly web solutions. Explore my work!">
  <link rel="canonical" href="https://irving-frias.github.io/">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" as="style">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="d-flex flex-col vh-100">
  {% include "Header.twig" with {
  urls: urls,
  lang: lang
  } %}

  <main>
    <h1 class="invisible">{{ site_name }}</h1>
    {% block content %}{% endblock %}
  </main>

  {% include "Footer.twig" %}

  <script src="/js/app.js" defer></script>
</body>

</html>