<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="UTF-8">
  <title>{{ site_name }} | IFRIAS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="d-flex flex-col vh-100">
  {% include "Header.twig" with {
  urls: urls,
  lang: lang
  } %}

  <main>
    <h1 class="invisible">{{ site_name }}</h1>
    {% block content %}{% endblock %}
  </main>

  {% include "Footer.twig" %}

  <script src="/js/app.js" defer></script>
</body>

</html>