footer{
  .social-section{
    .row{
      .col-md-7{
        h2{
          ul{
            margin-top: 10px;

            li {
              margin: 0;

              & + li{
                margin-top: 10px;
              }
            }
          }
        }
      }

      .col-md-5{
        form{
          h2{
            div{
              margin-top: 10px;

              input {
                
              }

              button {
                
              }
            }
          }
        }
      }

      .col-md-7 + .col-md-5{
        margin-top: 30px;
      }
    }
  }

  .copyright-section{
    
  }

  .social-section + .copyright-section{
    margin-top: 30px;
  }
}

@include media-breakpoint-up(md){
  footer{
    .social-section{
      .row{
        .col-md-7 + .col-md-5{
          margin-top: 0;
        }
      }
    }
  }
}