#posts{
  .posts{
    margin-left: -10px;
    margin-right: -10px;

    .post{
      padding-left: 10px;
      padding-right: 10px;

      & + .post{
        margin-top: 20px;
      }

      .post-item{
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        min-height: 400px;
        background-color: var(--bs-body-color);

        .content{
          position: relative;
          padding: 40px 35px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;

          &:has(.read-more a:hover) {
            h2, p {
              filter: blur(4px);
            }

            .read-more {
              a{
                transform: scale(1.4);
              }
            }
          }

          h2{
            margin: 0;
            color: var(--bs-body-bg);
            margin-bottom: 20px;
            transition: all 0.7s ease;
          }

          p{
            margin-top: auto;
            color: var(--bs-body-bg);
            margin-bottom: 20px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            transition: all 0.7s ease;
          }

          .read-more{
            margin-top: auto;
            color: var(--bs-body-bg);

            a{
              transition: all 0.7s ease;
              transform: scale(1);
            }
          }
        }
      }

      &:hover{
        .post-item{
          a{
            img{
              transform: scale(1.4) rotate(15deg);
            }
          }
        }
      }
    }
  }

  .pagination-section{
    nav{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 38px;

      .pagination{
        margin: 0;
      }
    }
  }

  .posts + .pagination-section{
    margin-top: 50px;
  }
}

@include media-breakpoint-up(md){
  #posts{
    .posts{
      .post{
        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl){
  #posts{
    .posts{
      .post{
        &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
  }
}