.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.vh-100 {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.mt-auto {
  margin-top: auto;
}

.invisible {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.list-style-none {
  list-style: none;
}

.decoration-none {
  text-decoration: none;
}

h1,
.h1 {
  font-size: 28px;
}

h2,
.h2 {
  font-size: 26px;
}

h3,
.h3 {
  font-size: 22px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 14px;
}

.py {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-flex {
    display: flex;
  }

  .flex-md-row {
    flex-direction: row;
  }

  .flex-md-col {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-flex {
    display: flex;
  }

  .flex-lg-row {
    flex-direction: row;
  }

  .flex-lg-col {
    flex-direction: column;
  }

  h1,
  .h1 {
    font-size: 50px;
  }

  h2,
  .h2 {
    font-size: 48px;
  }

  h3,
  .h3 {
    font-size: 32px;
  }

  h4,
  .h4 {
    font-size: 24px;
  }

  h5,
  .h5 {
    font-size: 14px;
  }

  h6,
  .h6 {
    font-size: 14px;
  }

  .py {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-flex {
    display: flex;
  }

  .flex-xl-row {
    flex-direction: row;
  }

  .flex-xl-col {
    flex-direction: column;
  }
}

@media screen and (min-width: 1920px) {
  .d-xxl-none {
    display: none !important;
  }

  .d-xxl-block {
    display: block !important;
  }

  .d-xxl-flex {
    display: flex;
  }

  .flex-xxl-row {
    flex-direction: row;
  }

  .flex-xxl-col {
    flex-direction: column;
  }
}