$dark: #212121;
$light: #FFF;
$text-color: $dark;

/* Light theme styles */
@media (prefers-color-scheme: light) {
  $text-color: $dark;

  body {
    background-color: $light;
    color: $dark;

    * {
      color: $dark;
    }
  }
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
  $text-color: $light;

  body {
    background-color: $dark;
    color: $light;

    * {
      color: $light;
    }
  }
}