$dark: #202931;
$light: #FFF;
$text-color: $dark;
$blue: #0064E1;
$blue-hover: #1E7BEF;

/* Light theme styles */
@media (prefers-color-scheme: light) {
  $text-color: $dark;
  $blue: #005FCC;
  $blue-hover: #0047A5;

  body {
    background-color: $light;
    color: $dark;

    * {
      color: $dark;
    }

    button {
      background-color: $blue;
      color: $light;

      &:hover {
        background-color: $blue-hover;
      }
    }

    a {
      color: $blue;

      &:hover {
        color: $blue-hover;
      }
    }
  }
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
  $text-color: $light;
  $blue: #00aaff;
  $blue-hover: #0088cc;

  body {
    background-color: $dark;
    color: $light;

    * {
      color: $light;
    }

    button {
      background-color: $blue;
      color: $dark;

      &:hover {
        background-color: $blue-hover;
      }
    }

    a {
      color: $blue;

      &:hover {
        color: $blue-hover;
      }
    }
  }
}