{% include '../../components/global/01-start.inc' with {
  "page_title": "Acerca de",
  "slug": "/es/acerca-de",
  "slug_en": "/about",
  "slug_es": "/es/acerca-de",
  "og_image": "/assets/pages/es/acerca-de.png",
  "og_image_light": "/assets/pages/es/acerca-de-light.png",
  "og_image_dark": "/assets/pages/es/acerca-de-dark.png"
} %}

{% include '../../components/custom/hero-about.inc' with {
  "title": "Irving Frias",
  "description": "Desarrollador de software apasionado, interesado en la ingeniería informática.",
  "image": "https://media.licdn.com/dms/image/D5603AQFyuWUk_X6gXA/profile-displayphoto-shrink_800_800/0/1679377032576?e=1717027200&v=beta&t=kHrYkGyxIQBYwN6qPI5s45KEytNBypRdrsCdO-_UKhA"
} %}

{% include '../../components/global/99-end.inc' %}