---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.min.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title = "Page", description } = Astro.props;
const { lang } = Astro.params;
---

<!doctype html>
<html lang={lang} data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" property="og:description" content={description} />
    <title>{title} | IFRIAS</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }

      p {
        font-size: 14px;
      }
    </style>
  </head>
  <body class="d-flex flex-column vh-100">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <script>
      // Astro will bundle and process this automatically
      import "bootstrap/dist/js/bootstrap.bundle.min.js";
    </script>

    <script>
      // This will run on the client-side
      window.addEventListener("DOMContentLoaded", () => {
        // Check if there's any item stored in localStorage
        const storedValue = localStorage.getItem("theme");
        if (storedValue) {
          document
            .querySelector("html")
            ?.setAttribute("data-bs-theme", storedValue);

          storedValue === "dark" &&
            document
              .querySelector('[name="theme-toggler"]')
              ?.setAttribute("checked", "checked");
        }
      });
    </script>
  </body>
</html>
